# GEMINI_API_KEY: Clé d'API Google Gemini AI
GEMINI_API_KEY=""

# APP_URL: URL principale de l'application
APP_URL="https://capsy-services.vercel.app/"

# ODOO_API_URL: URL du backend FastAPI (capsy-odoo-api)
ODOO_API_URL="https://capsy-odoo-api.vercel.app"

# ODOO Connection Credentials
ODOO_URL="https://testjack.odoo.com"
ODOO_DB="testjack"
ODOO_USERNAME=""
ODOO_PASSWORD=""
